/*-- Table of Contents
1. General styles
2. Branding styles
3. Nav styles
4. Image styles
5. Footer styles
6. Media queries
--*/

/*-- 1. General --*/
*{
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

body{
	height: 100vh;
	background: #000000;
}

header{
	display: flex;
	width: 100%;
	height: 80px;
	background: rgba(0,0,0,0.5);
	justify-content: flex-end;
}

/*-- Nav menu--*/
.top-level-menu{
	list-style: none;
}

.top-level-menu li{
	display: inline-block;
	padding-top: 23px;
	margin-right: 20px;
}

.top-level-menu li a{
	width: 120px;
	color: #fff;
	display: block;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
	padding: 5px;
	border: solid 1px #fff;
	border-radius: 10px;
	font-weight: 300;
	background: rgba(28,28,28,0.9);
}

.top-level-menu li{
	transition: all 1s ease 1s;
}

.top-level-menu li a:hover{
	color: green;
	border: solid 1px green;
	background: rgba(28,28,28,0.9);
}

.top-level-menu .current{
	color: red;
	border: solid 1px red;
	background: rgba(28,28,28,0.9);
}
    /* On hover, display the next level's menu */
.top-level-menu li:hover > ul{
	display: inline;
	transition: all 2s ease 1s;
}

/* Submenu */
.second-level-menu {
	position: absolute;
	top: 60px;
	width: 150px;
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
}

.second-level-menu > li {
	position: relative;
	font-size: 18px;
}
.second-level-menu li:hover ul { 
	display: inline;
	transition: all 2s ease 1s;
}


.third-level-menu {
	position: absolute;
	top: 0px;
	right: -175px;
	width: 150px;
	list-style: none;
	display: none;
}

.third-level-menu > li{
	height: 57px;
}

.third-level-menu > li:hover { 
 
}


/* Dropdown menu icon */
header ul li .menu_icon{
	border: solid 1px #fff;
	border-radius: 10px;
	width: 33px;
}

/* Search bar */
.search-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #2f3640;
	height: 50px;
	border-radius: 15px;
	padding: 0;
	border: solid 1px #ffffff;
	align-items: center;
}

.search-btn:hover{
	background: #ffffff;
	color: black;
}

.search-btn{
	font-size: 16px;
	text-decoration: none;
	float: right;
	margin-right: 10px;
	margin-top: 9px;
	width: 70px;
	height: 30px;
	border-radius: 10px;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	color: white;
	cursor: pointer;
	border: solid 1px #ffffff;
	
}

.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 5px 10px 0 10px;
	color: #ffffff;
	font-size: 18px;
	line-height: 40px;
	width: 240px;
}

/* Branding */
.logo{
	margin-right: auto;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 50px
}

.bg{
	background-image: url(../img/bg-1.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.icon{
	width: 24px;
	margin-left: 20px;
}

/* Footer */
footer{
	width: 100%;
	position: absolute;
	bottom: 0px;
	background: rgba(0,0,0,0.5);
	align-items: center;
}

.search-icon{
	color: green;

}

.social-links{
	position: absolute;
	bottom: 8px;
	padding: 20px 0px 0px 20px;
	z-index: 1;
	
}

/*-- 5. Footer --*/
footer p{
	text-align: center;
	color: #ffffff;
	padding: 10px;
	font-size: 12px;
}

footer small{
	font-size: 10px;
}
/*-- 6. Media queries --*/